<%- include('partial/header') %>

<div class="content"></div>
    <h1><%= title %></h1>
    <p>Runtime <%= runtime %></p>
    <p>Budget <%= budget %></p>
    <img src="https://image.tmdb.org/t/p/original/<%= poster_path %>" alt="backdrop_path" class="poster">
</div>

<%- include('partial/footer') %>