<%- include('partial/header') %>

<div class="content"></div>
    <h1><%= film.name %></h1>
    <p>Runtime <%= film.runtime %></p>
    <p>Budget <%= film.budget %></p>
</div>

<%- include('partial/footer') %>